@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: #0606fa4d;
    --text: #fff;
}
body.dark-theme{
    --primary-color: #0c0ce94d;
    --text: #000;
}
body {
    background-color: var(--primary-color);
    color: var(--text);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}